.likerow{
    top:0;
    position: fixed;
    left: 0;
    width: 100%;
    min-height: 40px;
    max-height: 50px;
    z-index: 10000001;
    background-color: rgba(60, 169, 235, 0.91);
    box-shadow: 0 1px 3px 2px rgba(0,0,0,0.15);
    text-align: center;
}
.fblktxx{
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    color: white;
    height: 50px;
    padding-top: 15px;
    font-size: 16px;
}
.positTop{

    top:0;
}
.positBottom{

    top:unset;
    bottom:0;
}
.likeEvent{
    border:2px solid white;
    cursor: pointer;
}
.likeBtn2{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;

}
